canvas{
    background-color: white;
    border: 3px solid black;
    position: absolute;
    display: block;
    /* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; */

    width: 98%;
    height: 98%;
    margin-left: 10px;
    cursor: pointer;
}

/* .heading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
} */
